body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}


/* containters */
.container-fluid {
  padding: 3% 7%;
}

/* NavBar */
.title-border {
  padding: 0 10px;
  border: 1px solid;
  border-radius: 25px;
}


/* How it works */

.how-it-works {
  background-color: #F7F7F7;
  text-align: center;
}

.point-1 {
}

.point-2 {
  padding-left: 25px;
}

.point-3 {
  padding-left: 25px;
}

.point-circle {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  width : 60px;
  height: 60px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 75px;
  padding-top: 12px;
  padding-left: 2px;
  font-size: 20px;
}

.point-text {
  margin-left: 10px;
  vertical-align: middle;

  display: inline-block;
}


/* Header section */

.top-section {
  background-color: #FFE61B;
  height: 130px;
}

.nav-banner {
  padding-top: 0;
}


.button-33 {
  margin:70px;
  background-color: #F7F7F7;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  padding: 7px 20px;
  transition: all 250ms;
  font-size: 24px;
}

/* search section */

.search-box {
margin-top:50px;
}

.search {
  background-color: #FFE61B;
}

/* search section */

.results {
background-color: #FFE61B;
}


      /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

      /* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}



.ingredient-list {
  width: 50%;
  float: left;
}

.recipe-instructions {
  width: 50%;
  float: left;
}

.recipe-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/*
#B5FE83
#FFE61B
#FFB72B
#F7F7F7
*/
