body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}


/* containters */
.container-fluid {
  padding: 3% 7%;
}

/* NavBar */
.title-border {
  padding: 0 10px;
  border: 1px solid;
  border-radius: 25px;
}


/* Header section */

.top-section {
  background-color: #FFE61B;
  height: 500px;
}


.button-33 {
  margin:70px;
  background-color: #F7F7F7;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  padding: 7px 20px;
  transition: all 250ms;
  font-size: 24px;
}

/* search section */

.search-box {
margin-top:50px;
}

/* search section */

.results {
background-color:#FFE61B;
height:500px;
}


      /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

      /* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}



.ingredient-list {
  width: 50%;
  float: left;
}

.recipe-instructions {
  width: 50%;
  float: left;
}


/*
#B5FE83
#FFE61B
#FFB72B
#F7F7F7
*/
